.search-card {
    display: flex;
    box-shadow: $border-radius;
    border-radius: $border-radius;
    width: 37rem;
    padding: 1.5rem;
    background: $white;
    border: 1px solid rgba(6, 5, 32, 0.1);

    .details{
      margin: 0 0.8rem;
    } 
    @include mediaMd {
        width: 100%;
    }
}