.search-card {
  display: flex;
  box-shadow: $border-radius;
  border-radius: $border-radius;
  width: 37rem;
  padding: 1.5rem;
  background: $white;
  border: 1px solid rgba(6, 5, 32, 0.1);

  .details {
    margin: 0 0.8rem;

    p {
      word-break: break-all;
    }
  }

  img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: $border-radius;
  }

  @include mediaMd {
    width: 100%;
  }
}


.profile {
  background: $white;
  border: 1px solid rgba(6, 5, 32, 0.1);
  box-shadow: $box-shadow;
  border-radius: 8px;

  hr {
    opacity: 0.1;
    border: 1px solid $text-color;
  }

}

.profile-card {
  padding: 1.5rem;
  width: 100%;

  @include mediaLg {
    display: flex;
    justify-content: space-between;

    &>* {
      margin: 0 0.4rem;
    }
  }

  &-button {
    order: 3;

    button {
      width: 100%;
    }

    .qr-img {
      border: 1px solid rgba(6, 5, 32, 0.2);
      box-sizing: border-box;
      border-radius: 8px;
      padding: 0.6rem;
    }

    @include mediaMd {

      button {
        width: 100%;
      }
    }
  }

  &-img {
    @include mediaMd {
      display: flex;
    }



    h4 {
      display: none;

      @include mediaMd {
        display: block;
      }
    }

    img {
      border-radius: $border-radius;
      height: 2.5rem;
      width: 2.5rem;
    }

    @include mediaLg {
      img {
        height: 5.5rem;
        width: 5.5rem;
      }
    }
  }


  &-details {
    @include mediaLg {
      flex-basis: 70%;
    }

    h4 {
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 1.6rem;
      color: $text-color;

      @include mediaMd {
        display: none;
      }
    }

    p {
      word-break: break-all;
      font-weight: 300;
      font-size: 0.88rem;
      color: $text-color;
      margin: 1.5rem 0 0 0;

      span {
        font-size: 0.75rem;
        line-height: 150%;
        width: 100%;
        padding: 0.5rem 0 0 0;
        text-transform: uppercase;
        color: rgba(6, 5, 32, 0.51);
      }

      img {
        margin: 0 0 -0.3rem 0.4rem;
        cursor: pointer
      }
    }
  }
}


.message-card {
  @include centerItem(space-between);
  border: $border;
  margin: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: $border-radius;

  textarea {
    border: none;
    font-size: 0.8rem;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: $text-color;
    opacity: 0.4;
    outline: none;
  }
}

.not-found {
  @include centerWithDirection(column);
}


.status-card {
  display: flex;
  align-items: center;
  padding: 1rem 1.2rem 1rem 1.5rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: $border-radius;

  span {
    font-size: 14px;
  }

  h4 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 150%;
    color: $text-color;
  }

  &.warning {
    background: rgba(255, 138, 34, 0.1);
    border: 1px solid $warning;
  }

  &.success {
    background: rgba(55, 213, 199, 0.1);
    border: 1px solid $success;
  }

  &.invalid {
    background: rgba(249, 60, 53, 0.1);
    border: 1px solid $invalid;
  }
}


.qr-mobile {
  display: none;

  @include mediaMd {
    display: block;
  }
}


.vc-credential {
  //  height: 100vh;
  margin: 2rem 0;
}

.vc-details {
  position: relative;
  display: flex;
  justify-content: space-between;

  @include mediaMd {
    display: block;
  }

  .vc-block {
    display: flex;

    @include mediaMd {
      display: block;
      text-align: left;
    }

    &-section {

      @include mediaMd {
        margin: 1rem 0 0 0;
      }

      a {
        display: flex;
        align-items: center;
        width: 100%;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: $primary;

        img {
          height: 1.4rem;
          width: 1.4rem;
          margin: 0 0.8rem;
        }

      }
    }

  }

  .vc-content {
    display: flex;
    align-items: center;

    img {
      height: 3.15rem;
      width: 3.15rem;
      border-radius: $border-radius;
    }

    &-details {
      margin-top: -1rem;

      p span {
        font-size: 12px;
        line-height: 150%;

        text-transform: uppercase;

        color: rgba(6, 5, 32, 0.51);
      }
    }
  }
}


.code-view {
  width: 100%;
  border: 1px solid rgba(6, 5, 32, 0.2);
  border-radius: $border-radius;


  pre {
    padding: 10px;
    background: #F4F7F9;
    margin: 0px;
    overflow-x: scroll;
  }


  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3.5rem;

    img {
      height: 1.5rem;
      width: 1.5rem;

      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background: rgb(187, 184, 184);
      }
    }
  }
}


.profile-account {
  margin-bottom: 10rem;

  h5 {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: $text-color;
    opacity: 0.6;
  }
}