.button {
    // @include centerWithDirection(row);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.25rem 0.75rem 1.5rem;
    background: $primary;
    border: none;
    border-radius: $border-radius;
    color: $white;

    & > * {
        margin: 0 0.3rem;
    }

    &-fw {
        width: 100%;
    }

    &-outlined {
        background: $white;
        color: $text-color;
        border: 1px solid rgba(6, 5, 32, 0.2);
        border-radius: $border-radius;

    }
}




// Search input field

.search-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.2rem 0.2rem;
    border-bottom: 1px solid $text-color;

    &-section {
        display: flex;
        align-items: center;
        flex-basis: 70%;
    }

    // &-close {
    //     // flex-basis: 10%;

    // }

    &-button {
        visibility: hidden;
        flex-basis: 10%;
        margin-bottom: 0.7rem;

        @include mediaLg {
            visibility: visible;
        }
    }

    img {
        margin-right: 0.4rem;
    }
 
    input {
        border: none;
        outline: none;
        font-weight: 400;
        color: $text-color;
        font-size: 1rem;
        width: 100%;
    }

    span {
        color: red;
        display: block;
    }
}

.search-btn {
    @include mediaLg {
        display: none;
    }
}