.container {
    padding: 0 1rem;
    margin: 1rem 2rem;

    @include mediaMd {
      margin: 1rem 0rem;
    }

}

// Margin & Padding
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {

    // All around margin
    .m-#{$space} {
        margin: #{$space}rem;
    }

    // Vertical Margin
    .my-#{$space} {
        margin: #{$space}rem 0;
    }

    .mr-#{$space} {
        margin-right: #{$space}rem 0;
    }

    .mx-#{$space} {
        margin:0 #{$space}rem;
    }

    .ml-#{$space} {
        margin-left: #{$space}rem;
    }


    .mt-#{$space} {
        margin-top: #{$space}rem;
    }

    .mb-#{$space} {
        margin-bottom: #{$space}rem;
    }

    // All around Padding
    .p-#{$space} {
        padding: #{$space}rem;
    }

    .pt-#{$space} {
        padding-top: #{$space}rem;
    }

    .pb-#{$space} {
        padding-bottom: #{$space}rem;
    }

    .px-#{$space} {
        padding: 0 #{$space}rem;
    }


    .pr-#{$space} {
        padding-right: #{$space}rem;
    }

    .pl-#{$space} {
        padding-left: #{$space}rem;
    }

    // Vertical Padding
    .py-#{$space} {
        padding: #{$space}rem 0;
    }
}