.container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.text-danger {
    color: $invalid;
}


.border-line {
    border: 0.2px solid #f1f1f1;
    width: 100%;
    margin: 0.4rem 0;
}


//content title
.content-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: $black;
    margin: 1.5rem 0;
    text-transform: capitalize;

    &-center {
        text-align: center;
    }
}




// Margin & Padding
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {

    // All around margin
    .m-#{$space} {
        margin: #{$space}rem;
    }

    // Vertical Margin
    .my-#{$space} {
        margin: #{$space}rem 0;
    }

    .mr-#{$space} {
        margin-right: #{$space}rem 0;
    }

    .mx-#{$space} {
        margin:0 #{$space}rem;
    }

    .ml-#{$space} {
        margin-left: #{$space}rem;
    }


    .mt-#{$space} {
        margin-top: #{$space}rem;
    }

    .mb-#{$space} {
        margin-bottom: #{$space}rem;
    }

    // All around Padding
    .p-#{$space} {
        padding: #{$space}rem;
    }

    .pt-#{$space} {
        padding-top: #{$space}rem;
    }

    .pb-#{$space} {
        padding-bottom: #{$space}rem;
    }

    .px-#{$space} {
        padding: 0 #{$space}rem;
    }


    .pr-#{$space} {
        padding-right: #{$space}rem;
    }

    .pl-#{$space} {
        padding-left: #{$space}rem;
    }

    // Vertical Padding
    .py-#{$space} {
        padding: #{$space}rem 0;
    }
}


.m-auto {
    margin: auto;
}