@font-face {
    font-family: 'Sora';
    src:
        url('~@/assets/fonts/sora/Sora-Bold.ttf') format('truetype'),
        url('~@/assets/fonts/sora/Sora-ExtraBold.ttf') format('truetype'),
        url('~@/assets/fonts/sora/Sora-ExtraLight.ttf') format('truetype'),
        url('~@/assets/fonts/sora/Sora-Light.ttf') format('truetype'),
        url('~@/assets/fonts/sora/Sora-Medium.ttf') format('truetype'),
        url('~@/assets/fonts/sora/Sora-Regular.ttf') format('truetype'),
        url('~@/assets/fonts/sora/Sora-Thin.ttf') format('truetype'),
        url('~@/assets/fonts/sora/Sora-SemiBold.ttf') format('truetype')
    ;
    font-weight: normal;
    font-style: normal;
}