.home {
    display: grid;
    grid-template-columns: 1fr;

    @include mediaXl {
        grid-template-columns: 2fr 2fr;
    }

}

.content {
    h1 {
        font-weight: bold;
        font-size: 2rem;
        color: $text-color;

        @include mediaXl {
            font-size: 4.5rem;
        }
    }

    p {
        font-size: 0.9rem;
        line-height: 150%;
        letter-spacing: -0.03em;

    }
}

.landing-image {
    img {
        height: 20rem;
        width: 20rem;

        @include mediaXl {
            height: 87%;
            width: 87%;
        }
    }
}



.credential {
    h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
    }
}