.home {
    display: grid;
    grid-template-columns: 1fr;

}

.content {
    h1 {
        font-weight: bold;
        font-size: 2rem;
        color: $text-color;
    }

    p {
        font-size: 0.9rem;
        line-height: 150%;
        letter-spacing: -0.03em;
    }
}

.landing-image {
    img {
        height: 20rem;
        width: 20rem;
    }
}