header {
  @include centerItem(flex-start);

  .navmenu {
    @include centerItem(center);

    padding-left: 16px;
    width: 80%;

    .menuitem {
      color: #000000;
      padding-left: calc(min(16px, 15%));
      padding-right: calc(max(16px, 15%));
      font-weight: 600;
      white-space: nowrap;
    }
  }



}

footer {
  font-size: 0.875rem;

  hr {
    opacity: 0.1;
    border: 1px solid $text-color;
  }

  .footer-section {
    @include centerItem(space-between);

    a {
      text-decoration: none;
      color: $text-color;
    }
  }
}
