@mixin center-item {
   display: flex;
   justify-content: space-between;
   align-items: center;

}


@mixin centerItem($jc) {
   display: flex;
   justify-content: $jc;
   align-items: center;

}


@mixin centerWithDirection($direction) {
   display: flex;
   flex-direction: $direction;
   justify-content: center;
   align-items: center;
}


@mixin defaultBorder {
   opacity: 0.4;
   border: 1px solid $text-color;
}


// Media Query Mixins
@mixin mediaSm {
   @media screen and (max-width: 500px) {
      @content;
   }
}

@mixin mediaMd {
   @media screen and (max-width: 768px) {
      @content;
   }
}

@mixin mediaLg {
   @media screen and (min-width: 769px) {
      @content;
   }
}

@mixin mediaXl {
   @media screen and (min-width: 1171px) {
      @content;
   }
}