$text-color: rgb(6, 5, 32);
$primary: #5761d7;
$white: #ffff;
$black: #000;
$max-width: 1280px;
$box-shadow: 0px 8px 32px rgba(6, 5, 32, 0.06);
$border-radius: 8px;
$border: 1px solid rgba(6, 5, 32, 0.2);
$warning: #ff8a22;
$success: #37d5c7;
$invalid: #f93c35;
